.wrapper {
  width: 100%;
}
.justify-content-space-between {
  justify-content: space-between;
}
.darkModeLogo {
  height: 30px;
  width: 30px;
}
.dark {
  background: #222831;
  color: #fff;
}
.dark-2 {
  background-color: #393e46;
  color: #fff;
}
